nb-configuration.xml
nbactions.xml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
target
target/*
*.properties
*/target/**
.classpath
.project
.settings/
target/