<!DOCTYPE html>
<html>
    <head>
        <title>Api</title>
    </head>
    <body>
        <div class="api_page">
            <h1>REST Api</h1>
            Wszystkie paramatry przesyłamy metodą POST.
            <h2>Logowanie użytkownika</h2>
            <b>URL:</b> /api/login <br />
            <b>Parametry:</b> String email, String hasło (md5) <br />
            <b>Odpowiedź:</b> User user
            <h2>Pobieranie listy wszystkich użytkowników (to zostanie usunięte po okresie testowym)</h2>
            <b>URL:</b> /api/users/getall <br />
            <b>Parametry:</b> brak <br />
            <b>Odpowiedź:</b> &#60;List&#62; User
            <h2>Pobieranie listy znajomych</h2>
        </div>
    </body>
</html>