<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <header class="main_header" th:fragment="header">
                <div class="top" id="topmenu">
                    <div class="container">
                        <div class="left">
                            <ul class="main_menu">
                                <li><a href="panel">Mój profil</a></li>
                                <li><a href="panel/friends">Znajomi</a></li>
                                <li><a href="panel/history">Historia</a></li>
                                <li><a href="panel/receipts">Paragony</a></li>
                                <li><a href="panel/settings">Ustawienia</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Wyloguj się"/>
                            </form></div>
                            <div sec:authorize="isAnonymous()">
                                <a href="login">Zaloguj się</a></div>
                        </div>
                    </div>
                </div>
                <a href="#" id="logo"></a>
            </header>
    </body>
</html>
