<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      >
    <head>
        <title>Strona główna</title>
        <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext,latin" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
        <link href="/static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
        <script src="/static/js/jquery-1.12.1.min.js" th:src="@{js/jquery-1.12.1.min.js}"></script>
        <script src="/static/js/jquery.parallax.min.js" th:src="@{js/jquery.parallax.min.js}"></script>
        <script src="/static/js/jquery.waypoints.min.js" th:src="@{js/jquery.waypoints.min.js}"></script>
        <script src="/static/js/main.js" th:src="@{js/main.js}"></script>
    </head>
    <body class="homepage">
        <div class="all" id="top" style="height: 2000px;">
            <header class="main_header">
                <div class="top" id="topmenu">
                    <div class="container">
                        <div class="left">
                            <ul class="main_menu">
                                <li><a href="#top">Top</a></li>
                                <li><a href="#about_us">O aplikacji</a></li>
                                <li><a href="#how_it_works">Jak to działa?</a></li>
                                <li><a href="#join_us">Dołącz do nas</a></li>
                                <li><a href="#contact_us">Kontakt</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <input type="submit" value="Wyloguj się"/>
                            </form></div>
                            <div sec:authorize="isAnonymous()">
                                <a href="login">Zaloguj się</a></div>
                        </div>
                    </div>
                </div>
                <a href="#" id="logo"></a>
            </header>
        </div>
    </body>
</html>