<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
    <head>
        <title>Logowanie</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    </head>
    <body class="login_page">
        <div class="background">
            <div class="login_panel" th:fragment="content">
                <img class="logo" src="images/logo.png"/>
                <div th:if="${param.error}">
                    Błędne dane logowania.
                </div>
                <div th:if="${param.logout}">
                    Wylogowano.
                </div>
                <form th:action="@{/login}" method="post">
                    <div><input type="text" name="username" placeholder="EMAIL"/></div>
                    <div><input type="password" name="password" placeholder="HASŁO"/></div>
                    <div><input class="btn_white" type="submit" value="Zaloguj się"/></div>
                    Nie posiadasz jeszcze konta? Zarejestruj się.
                </form>
            </div>
        </div>
    </body>
</html>