<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
    <head>
        <title>Panel</title>
        <link href="/static/css/perfect-scrollbar.min.css" th:href="@{/css/perfect-scrollbar.min.css}" rel="stylesheet" media="screen"/>
        <script language="javascript" type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js" th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/excanvas.min.js" th:src="@{/js/excanvas.min.js}"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.js" th:src="@{/js/jquery.flot.js}"></script>
	<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.pie.js" th:src="@{/js/jquery.flot.pie.js}"></script>
        <script type="text/javascript">
            $(function() {
                var data = [
			{ label: "Przychody",  data: 321},
			{ label: "Wydatki",  data: 167}
		];

		var placeholder = $("#placeholder");
                
                
                $.plot(placeholder, data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            innerRadius: 0.5,
                            label: {
                                show: true,
                                radius: 2/3,
                                threshold: 0.1
                            }
                        }
                    },
                    legend: {
                        show: false
                    }
                });
                
	
            });
        </script>
    </head>
    <body class="panel_page">
        <div class="panel" th:fragment="content">
            <div class="container">
                
                <div class="balance">
                    <h2>Witaj, <b th:utext="${userName}"></b></h2>
                    <h1>Saldo: <b class="positive" th:text="${bilans}">0 ZŁ</b></h1>
                    <a href="panel/history">zobacz szczegóły</a>
                </div>
                
                <div class="fast_menu">
                    <a class="left" href="panel/receipts/add">Dodaj paragon</a>
<!--                    |
                    <a class="right" href="panel/receipts/add">Dodaj przychody</a>-->
                </div>

                <div class="your_receipts">
                    <h1>Twoje zakupy</h1>
                    <ul>
                        <li th:each="receipt : ${paragony}">
                            <div class="receipt_img">
                                <img th:src="@{'/receiptphoto/'+${receipt.id}}"/>
                                <a class="receipt_price" th:href="'panel/receipts/show/'+${receipt.id}" th:text="${receipt.sum} + 'zł'">21.59 zł</a>
                            </div>
                            <div class="receipt_shopname" th:text="${receipt.name}">Biedronka</div>
                            <div class="receipt_date" th:text="${receipt.date}">10.04.2016</div>
                        </li>
                        
                    </ul>
                    
                    <a class="btn" href="panel/receipts">Wszystkie paragony</a>
                </div>

                <div class="outgoing">
                    <h1>Do spłaty</h1>
                    <div class="overflow">
                        <table>
                            <tr th:each="dlug : ${mojeDlugi}">
                                <td th:text="${dlug.owner.name} + ' ' + ${dlug.owner.surname}">Patryk Dobrzyński</td>
                                <td th:text="${dlug.productName}">Piwo</td>
                                <td th:text="${dlug.getPricePerPerson()}  + 'zł'">2.99zł</td>
                                <td><div style="width: 30px; height: 30px;"></div></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
                <div class="in_this_month">
                    <h1>W tym miesiącu</h1>
                    <div id="placeholder" style="width:600px;height:300px"></div>
                </div>

                <div class="outgoing incoming">
                    <h1>Twoi dłużnicy</h1>
                    <div class="overflow">
                        <table>
                            <span th:each="dlug : ${produktyDluznikow}">
                            <tr th:each="dluznik : ${dlug.users}">
                                <td th:text="${dluznik.name} +' ' + ${dluznik.surname}"></td>
                                <td th:text="${dlug.productName}">Piwo</td>
                                <td th:text="${dlug.getPricePerPerson()}  + 'zł'">2.99zł</td>
                                <td><a class="tooltip" title="Spłacono" th:href="'panel/receipts/payoff/' + ${dlug.id}"><i class="fa fa-money fa-2x" aria-hidden="true"></i></a></td>
                            </tr>
                            </span>
                        </table>
                    </div>
                </div>
                
            </div>
         
        </div>
    </body>
</html>