<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
    <head>
        <title>Panel - Znajomi</title>
        <link href="/static/css/perfect-scrollbar.min.css" th:href="@{/css/perfect-scrollbar.min.css}" rel="stylesheet" media="screen"/>
        <script language="javascript" type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js" th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
    </head>
    <body class="panel_page friends_page">
        <div class="panel" th:fragment="content">
            <div class="container">

                <div class="outgoing your_friends">
                    <h1>Twoi znajomi</h1>
                    <div class="overflow">
                        <table>
                            <tr th:each="znajomy : ${znajomi}">
                                <td><div class="friend_img"><img th:src="'/userphoto/' + ${znajomy.id}"/></div></td>
                                <td th:text="${znajomy.name} + ' ' + ${znajomy.surname}">Patryk Dobrzyński</td>
                                <td th:text="${znajomy.bilans}  + 'zł'">2.99zł</td>
                                <td><a class="tooltip" title="Usuń ze znajomych" th:href="'/panel/friends/remove/' + ${znajomy.id}"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
                <div class="outgoing add_friend" ng-controller="APIGetFriends">
                    <h1>Dodaj znajomego</h1>
                    <input type="text" ng-change="searchFriend()" ng-model="searchFriends" id="searchFriendInput" placeholder="Imię Nazwisko"/>
                    <input type="hidden" id="userId" th:value="${userId}"/>
                    <div class="overflow">
                        <table>
                            <tr ng-repeat="apiFriend in friendsList">
                                <td><div class="friend_img"><img src="/userphoto/[[apiFriend.id]]"/></div></td>
                                <td>[[apiFriend.name]] [[apiFriend.surname]]</td>
                                <td><a class="tooltip" title="Wyślij zaproszenie do znajomych" href="friends/addfriend/[[apiFriend.id]]"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
                <div class="outgoing add_friend">
                    <h1>Zapraszają Cię do znajomych</h1>
                    <div class="overflow">
                        <table>
                            <tr th:each="invitation : ${invitations}">
                                <td><div class="friend_img"><img th:src="'/userphoto/' + ${invitation.id}"/></div></td>
                                <td th:text="${invitation.name} + ' ' + ${invitation.surname}"></td>
                                <td th:if="${invitation}"><a class="tooltip" title="Odrzuć zaproszenie" href="panel/friends/add/[[apiFriend.id]]"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a><a class="tooltip" title="Zaakceptuj zaproszenie" href="panel/friends/add/[[apiFriend.id]]"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
                <div class="outgoing add_friend">
                    <h1>Wysłane zaproszenia</h1>
                    <div class="overflow">
                        <table>
                            <tr th:each="invitation : ${sendedInvitations}">
                                <td><div class="friend_img"><img th:src="'/userphoto/' + ${invitation.id}"/></div></td>
                                <td th:text="${invitation.name} + ' ' + ${invitation.surname}"></td>
                                <td th:if="${invitation}"><a class="tooltip" title="Anuluj zaproszenie" th:href="'panel/friends/remove/' + ${invitation.id}"><i class="fa fa-user-times fa-2x" aria-hidden="true"></i></a></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
            </div>
         
        </div>
    </body>
</html>