<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
    <head>
        <title>Panel - Znajomi</title>
        <link href="/static/css/perfect-scrollbar.min.css" th:href="@{/css/perfect-scrollbar.min.css}" rel="stylesheet" media="screen"/>
        <script language="javascript" type="text/javascript" src="/static/js/perfect-scrollbar.jquery.min.js" th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>
    </head>
    <body class="panel_page friends_page">
        <div class="panel" th:fragment="content">
            <div class="container">

                <div class="outgoing your_friends">
                    <h1>Twoi znajomi</h1>
                    <div class="overflow">
                        <table>
                            <tr th:each="znajomy : ${znajomi}">
                                <td><div class="friend_img"><img th:src="${znajomy.photo} ? 'data:image/jpeg;base64,'+${znajomy.photo} : '../images/icons/default-user.png'"/></div></td>
                                <td th:text="${znajomy.name} + ' ' + ${znajomy.surname}">Patryk Dobrzyński</td>
                                <td th:text="${znajomy.bilans}  + 'zł'">2.99zł</td>
                                <td><a th:href="'panel/friends/delete/' + ${znajomy.id}"><img title="Usuń znajomego" th:src="@{/images/icons/remove_user.png}"/></a></td>
                            </tr>                    
                        </table>
                    </div>
                </div>
                
                <div class="add_friend">
                    <h1>Dodaj znajomego</h1>
                </div>
                
            </div>
         
        </div>
    </body>
</html>