<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Gimme - Aktywuj konto</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
        <link href="https://fonts.googleapis.com/css?family=Lato&amp;subset=latin-ext,latin" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css"/>
        <script src="/static/js/jquery-1.12.1.min.js" th:src="@{js/jquery-1.12.1.min.js}"></script>
        <script src="/static/js/main.js" th:src="@{js/main.js}"></script>
    </head>
    <body class="registration_page registration_success">
        <div class="background">
            <div class="background_text">
                <h2>Aktywuj konto</h2>
                <h1>Na podany przez Ciebie adres email została właśnie wysłana wiadomość z linkiem aktywującym konto</h1>
            </div>
        </div>
    </body>
</html>